**/__pycache__/**
*.ipynb
**/.ipynb_checkpoints/**
*.npy
*.npz
**/.vscode/**
**/grasp_label*/**
**/log*/**
**/dump*/**
**/build/**
*.o
*.so
*.egg
**/*.egg-info/**
logs
dataset/tolerance
*.png

*.jpg
*.pkl
*.ply
*.mtl

# datasets
rebar_tying/datasets
rebar_tying/runs
texture_suppression_model